
@keyframes rainbow {
     0% {
        background-color: red;
    }
     16% {
        background-color: orange;
    }
     32%{ 
        background-color: yellow;
    }
     48%{
        background-color: green;
    }
     64%{ 
        background-color:blue;
    }
     80% {
        background-color:purple; 
    }
     100% {
        background-color:pink; 
    }
}

.test {
    background-color: azure;
    width: 400px;
    height: 400px;
    animation-name: rainbow;
    animation-duration: 2s;
}